:root {
  font-size: 62.5%;
}
@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/oswaldregular.woff'), url('../fonts/oswaldregular.woff2');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/oswaldmedium.woff'), url('../fonts/oswaldmedium.woff2');
  font-style: bold;
  font-weight: bold;
}
